In [1]:
import pandas as pd

In [3]:
data_df = pd.read_csv('/home/bing0/Documents/Internship/Github/data-visualization/data/insurance.csv')

In [6]:
bmi = data_df['bmi']

In [7]:
bmi

0       27.900
1       33.770
2       33.000
3       22.705
4       28.880
         ...
1333    30.970
1334    31.920
1335    36.850
1336    25.800
1337    29.070
Name: bmi, Length: 1338, dtype: float64

In [8]:
data_df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [23]:
first_age = data_df.loc[0,'age']

In [28]:
first_row = data_df.iloc[0:10]

In [31]:
len(first_row)

10

In [32]:
len(data_df.loc[0:10])

11

In [33]:
data_df.loc[[1,2,3,5,8]]

   age     sex     bmi  children smoker     region      charges
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
5   31  female  25.740         0     no  southeast   3756.62160
8   37    male  29.830         2     no  northeast   6406.41070

In [34]:
data_df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [35]:
data_df.loc[[0,1,10,100],['age', 'bmi', 'children', 'smoker']]

     age    bmi  children smoker
0     19  27.90         0    yes
1     18  33.77         1     no
10    25  26.22         0     no
100   41  31.60         0     no

In [46]:
data_df[(data_df['smoker']=='yes') & (data_df['children'] == 0)]

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
11     62  female  26.290         0    yes  southeast  27808.72510
14     27    male  42.130         0    yes  southeast  39611.75770
19     30    male  35.300         0    yes  southwest  36837.46700
30     22    male  35.600         0    yes  southwest  35585.57600
...   ...     ...     ...       ...    ...        ...          ...
1303   43    male  27.800         0    yes  southwest  37829.72420
1306   29  female  21.850         0    yes  northeast  16115.30450
1308   25  female  30.200         0    yes  southwest  33900.65300
1321   62    male  26.695         0    yes  northeast  28101.33305
1337   61  female  29.070         0    yes  northwest  29141.36030

[115 rows x 7 columns]

In [47]:
data_df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [48]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [51]:
data_df.age.unique()

array([19, 18, 28, 33, 32, 31, 46, 37, 60, 25, 62, 23, 56, 27, 52, 30, 34,
       59, 63, 55, 22, 26, 35, 24, 41, 38, 36, 21, 48, 40, 58, 53, 43, 64,
       20, 61, 44, 57, 29, 45, 54, 49, 47, 51, 42, 50, 39])

In [53]:
data_df.age.mean()

39.20702541106129

In [54]:
data_df.bmi.median()

30.4

In [55]:
data_df.bmi.value_counts()

32.300    13
28.310     9
30.495     8
30.875     8
31.350     8
          ..
46.200     1
23.800     1
44.770     1
32.120     1
30.970     1
Name: bmi, Length: 548, dtype: int64

In [58]:
bmi_mean = data_df.bmi.mean()
data_df.bmi.map(lambda x: x-bmi_mean)

0      -2.763397
1       3.106603
2       2.336603
3      -7.958397
4      -1.783397
          ...
1333    0.306603
1334    1.256603
1335    6.186603
1336   -4.863397
1337   -1.593397
Name: bmi, Length: 1338, dtype: float64

In [62]:
data_df.sex.map({'female':'f','male':'m'},na_action='ignore')

0       f
1       m
2       m
3       m
4       m
       ..
1333    m
1334    f
1335    f
1336    f
1337    f
Name: sex, Length: 1338, dtype: object

In [65]:
data_df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [81]:

def region_shortner(dataframe):
    data = {'southwest':'SW','southeast':'SE','northwest':'NW', 'northeast':'NE'}
    # for k,v in data.items():
    #     if dataframe.region == k :
    #         dataframe.region = v
    #     dataframe.loc[dataframe['region']==k,'region'] = v
data_df.apply(region_shortner,axis='columns')
data_df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [82]:
data_df.region = data_df.region.map({'southwest':'SW','southeast':'SE','northwest':'NW', 'northeast':'NE'})

In [83]:
data_df

      age     sex     bmi  children smoker region      charges
0      19  female  27.900         0    yes     SW  16884.92400
1      18    male  33.770         1     no     SE   1725.55230
2      28    male  33.000         3     no     SE   4449.46200
3      33    male  22.705         0     no     NW  21984.47061
4      32    male  28.880         0     no     NW   3866.85520
...   ...     ...     ...       ...    ...    ...          ...
1333   50    male  30.970         3     no     NW  10600.54830
1334   18  female  31.920         0     no     NE   2205.98080
1335   18  female  36.850         0     no     SE   1629.83350
1336   21  female  25.800         0     no     SW   2007.94500
1337   61  female  29.070         0    yes     NW  29141.36030

[1338 rows x 7 columns]

In [ ]:
data_df.bmi.astype()

In [84]:
data_df.sex.replace({'female':'f','male':'m'})

0       f
1       m
2       m
3       m
4       m
       ..
1333    m
1334    f
1335    f
1336    f
1337    f
Name: sex, Length: 1338, dtype: object